* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
textarea {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: rgb(76, 76, 76);
}
section {
  max-width: 1200px;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
h5 {
  margin: 1rem 0;
}

button {
  width: 5rem;
  font-size: 1.2rem;
  padding: 2px;
}
input {
  font-size: 1rem;
  min-height: 2rem;
  width: 10rem;
  padding-left: 3px;
}
p {
  padding: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.super {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
  height: 100vh;
}
.queue,
.doctor {
  margin: 0 1rem;
  width: 50%;
}
.line {
  margin: 2rem 0;
  border-bottom: 1px solid;
}
.resolution-body {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.title {
  margin: 2rem;
}
